<div class="chores" *ngIf = "finishedChores.length >chores.length; else workHarder">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>
<hr>
<ng-template #workHarder>
    <div class ="chores">
        <p>"Work Harder!"</p>
    </div>
</ng-template>


// chores.length === 0 || finishedChores.length === chores.length + 3